Tools/TierSponsors_EditDB/Service References/srEditDB_SL/ServiceEditDB_SL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:3750/ServiceEditDB_SL.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:3750/ServiceEditDB_SL.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3750/ServiceEditDB_SL.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TierSponsors_EditDB.Web" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ServiceEditDB_SL_GetOrganisations_InputMessage">
    <wsdl:part name="parameters" element="GetOrganisations" />
  </wsdl:message>
  <wsdl:message name="ServiceEditDB_SL_GetOrganisations_OutputMessage">
    <wsdl:part name="parameters" element="GetOrganisationsResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceEditDB_SL_GetOrganisationByID_InputMessage">
    <wsdl:part name="parameters" element="GetOrganisationByID" />
  </wsdl:message>
  <wsdl:message name="ServiceEditDB_SL_GetOrganisationByID_OutputMessage">
    <wsdl:part name="parameters" element="GetOrganisationByIDResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceEditDB_SL">
    <wsdl:operation name="GetOrganisations">
      <wsdl:input wsaw:Action="urn:ServiceEditDB_SL/GetOrganisations" message="ServiceEditDB_SL_GetOrganisations_InputMessage" />
      <wsdl:output wsaw:Action="urn:ServiceEditDB_SL/GetOrganisationsResponse" message="ServiceEditDB_SL_GetOrganisations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrganisationByID">
      <wsdl:input wsaw:Action="urn:ServiceEditDB_SL/GetOrganisationByID" message="ServiceEditDB_SL_GetOrganisationByID_InputMessage" />
      <wsdl:output wsaw:Action="urn:ServiceEditDB_SL/GetOrganisationByIDResponse" message="ServiceEditDB_SL_GetOrganisationByID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>