Tools/TierSponsors_EditDB/Service References/srEditDB_SL/ServiceEditDB_SL2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TierSponsors_EditDB.Web" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TierSponsors_EditDB.Web" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServiceEditDB_SL.OrganisationsCollection">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrgList" nillable="true" type="tns:ArrayOfServiceEditDB_SL.Organisation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceEditDB_SL.OrganisationsCollection" nillable="true" type="tns:ServiceEditDB_SL.OrganisationsCollection" />
  <xs:complexType name="ArrayOfServiceEditDB_SL.Organisation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceEditDB_SL.Organisation" nillable="true" type="tns:ServiceEditDB_SL.Organisation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceEditDB_SL.Organisation" nillable="true" type="tns:ArrayOfServiceEditDB_SL.Organisation" />
  <xs:complexType name="ServiceEditDB_SL.Organisation">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="County" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameCityCounty" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceEditDB_SL.Organisation" nillable="true" type="tns:ServiceEditDB_SL.Organisation" />
</xs:schema>